@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
p.form-disclaimers {
  font-size: 11px;
  margin: 0;
}

.formwrap-outer .intgrtn-form-signup {
  padding: 15px;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-steps-navigation, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-steps-navigation, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-steps-navigation {
  display: flex;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-steps-navigation .intgrtn-steps-navigation-item, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-steps-navigation .intgrtn-steps-navigation-item, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-steps-navigation .intgrtn-steps-navigation-item {
  display: inline-block;
  background-color: #fff28a;
  color: white;
  font-size: 2em;
  line-height: 1.1em;
  font-weight: bold;
  height: 7px;
  width: 33%;
  margin-right: 2px;
  border-radius: 0;
  text-indent: 100%;
  overflow: hidden;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-steps-navigation .intgrtn-steps-navigation-item.intgrtn-active, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-steps-navigation .intgrtn-steps-navigation-item.intgrtn-active, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-steps-navigation .intgrtn-steps-navigation-item.intgrtn-active {
  background-color: #fd57a5;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-steps-navigation .intgrtn-steps-navigation-item:after, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-steps-navigation .intgrtn-steps-navigation-item:after, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-steps-navigation .intgrtn-steps-navigation-item:after {
  content: "";
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder .intgrtn-input, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder .intgrtn-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media all and (max-width: 768px) {
  .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder .intgrtn-input .intgrtn-areas-dropdown, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input .intgrtn-areas-dropdown, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder .intgrtn-input .intgrtn-areas-dropdown {
    width: 270px;
  }
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder .intgrtn-input-message-error-verbose, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input-message-error-verbose, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder .intgrtn-input-message-error-verbose {
  margin: 10px 0;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message {
  font-size: 0.8em !important;
  margin-bottom: 10px;
  line-height: 1 !important;
  transition: all 0.3s ease-out !important;
  text-align: left !important;
  padding-left: 5px;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message.intgrtn-untouched, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message.intgrtn-untouched, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder .intgrtn-input-message-error-verbose .intgrtn-single-message.intgrtn-untouched {
  color: #000;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder.intgrtn-input-holder-password, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder.intgrtn-input-holder-password, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder.intgrtn-input-holder-password {
  display: none;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-input-holder.intgrtn-input-holder-password .intgrtn-btn-generate-password-holder, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-input-holder.intgrtn-input-holder-password .intgrtn-btn-generate-password-holder, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-input-holder.intgrtn-input-holder-password .intgrtn-btn-generate-password-holder {
  flex-wrap: nowrap;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-btn-go-to-step, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps .intgrtn-btn-submit, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-btn-go-to-step, .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup .intgrtn-btn-submit, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-btn-go-to-step, .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin .intgrtn-btn-submit {
  margin: 0 auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  color: #ffffff;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
  text-transform: uppercase;
  width: 90%;
  height: 64px;
  cursor: pointer;
  white-space: normal;
  text-align: center;
}
.formwrap-outer .intgrtn-form-signup .intgrtn-form-signup-3-steps [data-intgrtn-message-id=passwordConfirmMatch], .formwrap-outer .intgrtn-form-signup .intgrtn-form-signup [data-intgrtn-message-id=passwordConfirmMatch], .formwrap-outer .intgrtn-form-signup .intgrtn-form-optin [data-intgrtn-message-id=passwordConfirmMatch] {
  display: none;
}

.list-pwd-tips {
  padding-left: 5px;
  list-style-type: none;
}
.list-pwd-tips li {
  position: relative;
  font-size: 0.8em !important;
  margin-bottom: 10px;
  line-height: 1 !important;
  transition: all 0.3s ease-out !important;
  text-align: left !important;
  padding-left: 5px;
}
.list-pwd-tips li:before {
  position: absolute;
  display: block;
  content: " ";
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #000;
  top: 3px;
  right: 100%;
}
.list-pwd-tips li.passing:before {
  background-color: green !important;
}
.list-pwd-tips .text-red {
  color: #000;
}
.list-pwd-tips.touched li:before {
  background-color: red;
}
.list-pwd-tips.touched .text-red {
  color: red;
}
.list-pwd-tips.touched .text-green {
  color: green;
}

.js-pwd-tooltip-icon {
  position: absolute;
  top: 100%;
  right: 0;
  cursor: pointer;
}

.error-message {
  margin-top: 30px !important;
  text-align: center !important;
  padding-bottom: 10px !important;
  color: red;
}

.progress {
  width: 100%;
  height: 45px;
}

.modal-signup {
  max-width: 800px;
  max-height: 650px;
  background-color: #fff;
  font-size: 14px;
  margin: auto;
  padding: 20px 30px !important;
  text-align: center;
  z-index: 10001;
}
@media all and (max-width: 768px) {
  .modal-signup {
    max-height: 550px;
  }
}
.modal-signup main {
  padding: 20px 0;
}
@media all and (max-width: 768px) {
  .modal-signup main {
    padding: unset;
  }
}
.modal-signup main .broker-info {
  padding: 0 20px;
  text-align: center;
  width: 100%;
}
@media all and (max-width: 768px) {
  .modal-signup main .broker-info .modal-logo {
    padding: 20px;
  }
}
.modal-signup main .logo {
  height: 200px;
  padding-top: 50px;
}
@media all and (max-width: 768px) {
  .modal-signup main .logo {
    padding-top: 40px;
  }
}
.modal-signup main .logo img {
  vertical-align: middle;
  max-width: 300px;
}
.modal-signup main .broker-advantages {
  padding-top: 20px;
}
.modal-signup main .broker-advantages .item {
  text-align: left;
}
.modal-signup main .broker-advantages .item .icon {
  display: inline-block;
}
@media all and (max-width: 768px) {
  .modal-signup main .broker-advantages .item .icon {
    width: 100%;
    text-align: center;
  }
}
.modal-signup main .broker-advantages .item .icon img {
  width: 50px;
}
.modal-signup main .broker-advantages .item .text {
  display: inline-block;
  text-align: left;
}
@media all and (max-width: 768px) {
  .modal-signup main .broker-advantages .item .text {
    text-align: center;
  }
}
.modal-signup .modal-button-hide-mobile {
  display: block;
}
@media all and (max-width: 768px) {
  .modal-signup .modal-button-hide-mobile {
    display: none;
  }
}
.modal-signup .modal-button-show-mobile {
  display: none;
}
@media all and (max-width: 768px) {
  .modal-signup .modal-button-show-mobile {
    display: block;
  }
}
.modal-signup .start-trading-button {
  background-color: #18a7f8;
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 1em;
  padding: 10px;
  width: 500px;
  max-width: 100%;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}
.modal-signup .js-intgrtn-modal-loader {
  display: none;
}

.text-green {
  color: green;
  display: block;
  margin-top: 5px;
}

.register-form-tab .tooltip.in .tooltip-inner {
  margin-left: -7px;
  padding: 4px;
}

.btn-start {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0.5px 0.866px 0px rgba(1, 198, 0, 0.35);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0be00b+0,01c601+100 */
  background: #ffaf38;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a110cb 0%, #740d92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a110cb", endColorstr="#740d92", GradientType=0);
  /* IE6-9 */
}
.btn-start:hover, .btn-start:focus {
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01c601+0,0be00b+100 */
  background: #ff9b33;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #740d92 0%, #a110cb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#740d92", endColorstr="#a110cb", GradientType=0);
  /* IE6-9 */
}

.hidden {
  display: none !important;
}

@media all and (max-width: 768px) {
  .footer-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }
  .footer-ul li {
    margin-right: 15px;
  }
}
body .seenon-p {
  color: white;
  pointer-events: none;
}
body .fake-news-logos-wrapper {
  display: none;
}
body .intgrtn-cookie-popup .intgrtn-cookie-popup-link-privacy-policy {
  color: #007bff;
  text-decoration: underline;
}
@media all and (max-width: 768px) {
  body .video-form-section .video-header {
    font-size: 3.4rem;
  }
}
@media all and (max-width: 768px) {
  body .join-us-section .join-us-header {
    word-break: break-word;
    white-space: normal;
  }
}

.btc-widget-wrapper {
  z-index: 99999;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
@media all and (max-width: 768px) {
  .btc-widget-wrapper {
    display: none;
  }
}

.ask-bid-wrapper .js-bitcoin-disclamer {
  display: none;
}
.ask-bid-wrapper .alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.ask-bid-wrapper .alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.ask-bid-wrapper .alert-warning hr {
  border-top-color: #ffe8a1;
}
.ask-bid-wrapper .alert-warning .alert-link {
  color: #533f03;
}
.ask-bid-wrapper .ask-bid {
  text-align: center;
  font-size: 11px;
  margin-bottom: 0;
}

.formHeader {
  white-space: normal;
  word-break: break-word;
}

@media all and (max-width: 768px) {
  .bid-ask-span {
    animation: unset;
  }
}

.img-u4m {
  display: flex;
  width: 15%;
}
@media all and (max-width: 768px) {
  .img-u4m {
    display: inline-block;
    width: 40%;
  }
}

.faq-question {
  white-space: normal;
  word-break: break-word;
}

/*# sourceMappingURL=intgrtn.css.map */
