* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #333;
}

img,
.video {
    max-width: 100%;
}

[data-init="registration-popup"] .logo {
    margin: 0 auto;
}

.logo {
    max-width: 30%;
}

.light-purple {
    color: #7b3dbb;
}

.purple {
    color: #444573;
}

.dark-purple {
    color: #322580;
}

.red {
    color: red;
}

.green {
    color: #00c500;
}

.gray {
    color: gray;
}

.orange {
    color: orange;
}

.white {
    color: white;
}

.yellow {
    color: #d5c93f;
}

.no-padding {
    padding: 0;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.intro-section-1 {
    text-align: center;
    background-color: red;
    color: white;
    padding: 6px 0;
}

.intro-p {
    margin: 0;
}

.intro-part-2 {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exclusive-offers-wrapper {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    line-height: 1;
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flag {
    width: 20%;
}

.dynamic-person-div {
    padding: 0 20px;
    background-color: #eee;
    margin: 0;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.dynamic-person-p {
    padding-left: 20px;
}

.dynamic-person-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(211, 211, 31);
}

.video-form-section {
    background-image: url("../images/video-form-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    /*padding: 50px 0 200px 0;*/
}

.video-header,
.video-subheader {
    text-align: center;
    color: white;
}

.video-header {
    font-size: 3.5rem;
    font-weight: bolder;
}

.video-subheader {
    font-size: 2em;
    font-weight: 400;
}

.video {
    border: 10px solid white;
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
}

.form-container {
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
}

.form-body .alert-danger {
    z-index: 10002;
}

.formUl li {
    display: inline-block;
    background-color: #fff28a;
    color: white;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
    height: 7px;
    width: 50%;
    margin-left: 1px;
    margin-right: 1px;
}

.formUl .active {
    background-color: #fd57a5;
}

.formUl {
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: flex;
}

.form-content {
    padding: 10px;
    padding-bottom: 44px;
}

form[data-init][data-mode="slidingform"] [data-subject="wrapper"] {
    overflow: visible;
}

.form-group .form-control {
    margin-bottom: 4px !important;
    background: #e7e7e7;
    border-radius: 5px;
    padding-right: 40px;
}

input.Password {
    background: #e7e7e7 !important;
}

.form-group .form-control.error {
    background: #e7e7e7 url(../images/unchecked.svg) 100% 60% no-repeat;
    background-size: 25px 70% !important;
}

.form-group .form-control.valid {
    background: #e7e7e7 url(../images/checked.svg) 100% 60% no-repeat;
    background-size: 25px 70% !important;
}

.toggle-password-icon {
    position: absolute;
    background: url(../images/show-password.svg) 100% 50% no-repeat;
    background-size: 25px;
    width: 33px;
    height: 33px;
    top: 1px;
    cursor: pointer;
    right: 10px;
}

.form-password_group {
    width: 50%;
    display: inline-block;
}

input.error {
    border: 3px solid #eb172b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.valid {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.registerBtn {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
    text-transform: uppercase;
    width: 90%;
    min-height: 64px;
    cursor: pointer;
    position: absolute;
    bottom: -16px;
    left: -50%;
    right: -50%;
    white-space: normal;
}

.registerBtn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    font-size: 21px;
}

.gtd-tp-link-wrapper a {
    margin: 0 auto;
    text-align: center;
    padding: 18px;
    display: block;
    color: #fff;
    font-size: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
    text-transform: uppercase;
    width: 90%;
    height: 64px;
    text-decoration: none;
}

.gtd-tp-link-wrapper a:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    font-size: 21px;
}

.last-step {
    min-height: 124px;
    background-image: url("../images/form-bg.jpg");
}

form {
    background-image: url("../images/form-bg.jpg");
}

.form-header {
    margin-bottom: -16px;
}

.formHeader {
    background-image: url(../images/form-header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 50px 20px;
    padding-top: 30px;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logos-section {
    padding: 50px 0;
    padding-top: 150px;
}

@media (max-width: 768px) {
    .logos-section {
        padding-top: 50px;
    }
}

.logos-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bid-wrapper,
.ask-wrapper {
    font-size: .9em;
    font-weight: 700;
    display: flex;
}

.bid-ask-span {
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
}

.join-us-section {
    padding: 50px 0;
    background-image: url("../images/join-us-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.join-us-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    color: #322580;
    margin-bottom: 0;
    line-height: 1.2;
    display: block;
}

.join-us-p {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    margin-top: 50px;
}

.seenon-p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #6a449b;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: "Lato";
}

.join-us-img-wrapper {
    position: relative;
}

.join-us-img {
    position: absolute;
    top: -278px;
    left: 160px;
    width: 90%;
}

.testimonials-section {
    padding-top: 150px;
    font-family: "Open Sans";
    text-align: center;
}

.testimonials-header {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 2em;
    color: #322580;
}

.testimonial-wrapper {
    display: flex;
    justify-content: baseline;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-color: #343a40 !important;
}

.testimonial-wrapper-1 {
    background-image: url("../images/testimonial1.jpg");
}

.testimonial-wrapper-2 {
    background-image: url("../images/testimonial2.jpg")
}

.testimonial-wrapper-3 {
    background-image: url("../images/testimonial3.jpg");
}

.testimonial-wrapper-4 {
    background-image: url("../images/testimonial4.jpg")
}

.testimonial-intro-text {
    width: 100%;
    margin-top: auto;
    padding-bottom: 25px;
    font-size: 1.25em;
}

.testimonial-profit-span {
    font-size: 1.4em;
    font-weight: bold;
}

.testimonial-hover-text {
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 100%;
    transition: .5s ease;
    font-size: .95em;
    cursor: pointer;
    opacity: 0;
}

.testimonial-hover-text:hover {
    background-color: rgba(54, 110, 231, 0.9);
    opacity: 1;
}

.features-section {
    padding: 150px 0;
    padding-bottom: 300px;
    font-family: "Open Sans";
    background-image: url("../images/features-section-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feature-wrapper {
    background-color: #322b7c;
    color: white;
    padding: 20px 0;
    box-shadow: 0px 6px 0 0 #7f57ca;
    height: 100%;
}

.feature-img-wrapper {
    margin-bottom: 50px;
}

.feature-img {
    height: 102px;
}

.feature-header {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

.feature-description {
    padding: 0 20px;
}

.live-results-section {
    font-family: "Open Sans";
    margin: 50px 0;
}

.live-results-table-wrapper {
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
    background-color: white;
    border: solid 10px #ffffff;
    position: relative;
    top: -265px;
    padding: 0px 50px 50px;
}

.live-results-table {
    width: 100%;
}

th,
td {
    width: 20%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.last-td {
    border: none;
}

.tick {
    display: inline-block;
    background-color: #ebd944;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    color: white;
    font-size: 1.25em;
}

.live-results-header {
    margin: 50px 0;
    font-size: 3em;
}

.yellow-btn {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 4px 0 0 #cab927;
    cursor: pointer;
    height: 70px;
    max-width: 400px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #ebd943;
    color: #2a2b51;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 24px;
}

.join-now-btn {
    position: absolute;
    top: -45px;
    left: 50%;
    right: 50%;
}

.yellow-btn:hover {
    font-size: 25px;
}

.how-it-works-section {
    background-color: #0f4bff;
    height: 350px;
    margin-top: 100px;
    position: relative;
    font-family: "Open Sans";
}

.how-it-works-wrapper {
    position: relative;
    top: -260px;
}

.how-it-works-header {
    margin-bottom: 50px;
}

.step-wrapper {
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
    position: relative;
    background: #fff;
    height: 100%;
}

.step-wrapper-1 {
    z-index: 3;
}

.step-wrapper-2 {
    z-index: 2;
}

.step-wrapper-3 {
    z-index: 1;
}

.step-header {
    padding: 10px 0;
}

.step-header-1 {
    text-transform: uppercase;
    background-color: #7b3dbb;
}

.step-header-2 {
    background-color: #372798;
    text-transform: uppercase;
}

.step-header-3 {
    background-color: #0f4dff;
    text-transform: uppercase;
}

.step-img {
    height: 93px;
}

.step-img-wrapper {
    margin: 25px 0;
}

.step-subheader {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.step-description {
    padding: 40px 25px;
    padding-top: 0;
    margin-bottom: 0;
}

.open-free-account-btn {
    position: absolute;
    bottom: -33px;
    left: 50%;
    right: 50%;
}

.faq-section {
    padding: 50px 0;
    margin-top: 100px;
    font-family: "Open Sans";
}

.faq-section-header {
    margin-bottom: 70px;
}

.faq-wrapper {
    position: relative;
    padding: 21px 28px 30px 50px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 26.9px 5.1px rgba(37, 26, 65, 0.1);
    min-height: 150px;
}

.faq-question {
    font-size: 1.2em;
}

.faq-wrapper::before {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    background-color: #7b3dbb;
    padding: 10px 20px;
    position: absolute;
    left: -25px;
    top: 62px;
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1)
}

.faq-wrapper-1::before {
    content: "1";
}

.faq-wrapper-2::before {
    content: "2";
}

.faq-wrapper-3::before {
    content: "3";
}

.faq-wrapper-4::before {
    content: "4";
}

.faq-wrapper-5::before {
    content: "5";
}

.faq-wrapper-6::before {
    content: "6";
}

.pre-footer-section {
    background-image: url("../images/pre-footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px 0;
}

.confirm-text_links {
    margin-top: 25px;
    /*margin: 25px 0 6px auto;*/
    /*max-width: 310px;*/
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    color: #363636;
    text-align: center;
}

.pre-footer-btn {
    display: block;
    text-align: center;
    background-color: #ebd943;
    color: #322580;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 88px auto;
    box-shadow: 0px 4px 0 0 #cab927;
    cursor: pointer;
    height: 125px;
    width: 100%;
    max-width: 460px;
}

.pre-footer-btn:hover {
    font-size: 34px;
}

.footer {
    padding: 30px 0;
}

.footer-ul {
    list-style: none;
    font-weight: bold;
}

.footer-ul a {
    color: #322580;
}

.footer-ul li {
    display: inline-block;
    margin-right: 30px;
}

.footer-logo {
    max-width: 300px;
}

.intro-section-mobile {
    display: none;
}

.padding-left-td {
    padding-left: 7px;
}

.bid-ask-span {
    transform: scale(1);
    transform: rotate3d(0, 1, 0, 0deg);
    animation: flip 10s cubic-bezier(1, 0, 0, 1) 0s infinite;
}

.shake {
    display: inline-block;
    animation: shake 1s cubic-bezier(0, .50, 1, .50) 0s infinite;
}

.start-trading-btn {
    cursor: pointer;
}

@keyframes flip {
    0% {
        transform: rotate3d(0, 1, 0, 0deg) scale(1);
    }
    5% {
        transform: rotate3d(0, 1, 0, 180deg) scale(1.7);
    }
    10% {
        transform: rotate3d(0, 1, 0, 720deg) scale(1);
    }
    100% {
        transform: rotate3d(0, 1, 0, 720deg) scale(1);
    }
}

@keyframes shake {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    30% {
        transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
    }
    40% {
        transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
    }
    50% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
    }
    60% {
        transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
    }
    80% {
        transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
    }
    90% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    .join-us-img {
        top: -170px;
    }
}

@media screen and (max-width: 991px) {
    .join-us-p {
        margin-top: 0;
    }
    .how-it-works-section {
        margin-top: 0px;
    }
    .faq-section-header {
        margin-bottom: 20px;
    }
    .faq-section {
        padding-top: 0;
        margin-top: 20px;
    }
    .btc-widget-block {
        display: none;
    }
    .feature-wrapper-col {
        margin-bottom: 20px;
    }
    .confirm-text_links {
        margin: 25px auto 6px auto;
        max-width: 310px;
    }
    .join-us-img {
        top: -20px;
        left: 0;
    }
    /*.intro-part-2{*/
    /*display: none;*/
    /*}*/
    .video-form-section {
        padding: 50px 0 200px 0;
    }
    .formHeader {
        padding: 30px 20px;
        font-size: 1.8rem;
    }
    .how-it-works-section {
        height: 360px;
    }
    .gtd-tp-link-wrapper a {
        line-height: 22px;
        margin: 0 auto;
        text-align: center;
        padding: 12px;
    }
}

@media screen and (max-width:767px) {
    .live-results-table-wrapper {
        position: initial;
        padding: 0;
        overflow-x: scroll;
    }
    .how-it-works-section {
        height: initial;
        background-color: white;
    }
    .how-it-works-wrapper {
        position: initial;
    }
    .step-wrapper {
        position: initial;
        margin-bottom: 20px;
    }
    .step-wrapper-col {
        margin-bottom: 20px;
    }
    .open-free-account-btn {
        position: initial;
        -webkit-transform: none;
        transform: none;
    }
    .how-it-works-btn-wrapper {
        padding: 30px 0;
        background-color: #0f4bff;
    }
    .join-now-btn {
        top: -100px;
    }
    .join-us-section {
        padding-bottom: 400px;
    }
    .join-us-img {
        top: -655px;
        width: 70%;
        left: 0;
    }
    .testimonials-section {
        padding-top: 50px;
    }
    .fake-news-logos-wrapper {
        border-bottom: 3px solid #ddd;
        padding-bottom: 50px;
    }
    .logos-wrapper {
        flex-direction: column;
    }
    .bid-ask-span {
        font-size: 2em;
    }
    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
    .features-section {
        padding: 100px 0;
    }
    .intro-section-mobile {
        margin-top: 50px;
        background-color: #ddd;
        display: block;
    }
    .intro-part-2 {
        height: initial;
        padding: 20px 0;
        flex-direction: column;
    }
    .dynamic-person-div {
        padding: 0px 20px;
        background-color: #ddd;
        margin: 0;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        align-self: stretch;
        justify-self: stretch;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    .dynamic-person-p {
        font-weight: bold;
    }
    .exclusive-offers-wrapper {
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .exclusive-offers-text {
        text-align: center;
        margin-right: 15px;
    }
    .logo {
        max-width: 100%;
    }
    .none {
        display: none;
    }
    .logos-section {
        padding-top: 20px;
    }
}

@media (min-width:568px) and (max-width:568px) {
    .join-us-section {
        position: relative;
    }
    .join-us-section {
        padding-bottom: 265px;
    }
    .join-us-img {
        bottom: 0px;
        top: initial;
        left: 0px;
        width: 42%;
    }
    /* .no-padding{
        padding: 0 15px;
    } */
}

@media screen and (max-width:567px) {
    .join-us-section {
        position: relative;
    }
    .join-us-section {
        padding-bottom: 265px;
    }
    .join-us-img {
        bottom: 0px;
        top: initial;
        left: auto;
        width: 56%;
        right: 0;
    }
    /* .no-padding{
        padding: 0 15px;
    } */
}

@media screen and (max-width:375px) {
    .yellow-btn {
        width: 90%;
    }
}

@media screen and (max-width:350px) {
    .join-us-section {
        padding-bottom: 220px;
    }
}

label.error {
    opacity: 0.5;
    display: inline-block;
    position: relative;
    background: white;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.flag-container {
    outline: none;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
    outline: none;
    height: 34px;
}

#apYou {
    position: absolute;
    width: 12%;
    bottom: 41%;
    right: 43%;
}

.preloader {
    display: none;
    background: white;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
    z-index: 5;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    margin: 0 15px;
}

/*.btn {
    margin-top: 5%;
    font-weight: bold;
    padding: 9px 12px;
    min-height: 50px;
    width: 100%;
    background: #f7931a;
    color: #fff;
    font-family: "IBM Plex Sans",sans-serif;
    font-size: 1.5em;
    border-color: #f7931a;
    box-shadow: none;
    white-space: normal;
}
.btn:hover{
    background-color: #ff8c00;
    border-color: #ff8c00;
    box-shadow: none;
}*/

.checkboxPop {
    color: white;
}

.heroSection {
    padding-bottom: 4%;
}

.up_sound {
    text-align: center;
    display: none;
    width: 166px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 38%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 8px;
    font-size: 16px;
}

#bigForm2 {
    background: none;
}

.phone {
    padding-left: 95px ! important;
}

.btn-pop {
    width: 45%;
}

a:not([href]):not([tabindex]) {
    color: red;
}

a:not([href]):not([tabindex]):hover {
    color: red;
}

@media (min-width: 1023px) and (max-width: 1024px) {
    .join-us-img {
        left: 90px;
    }
}

@media (min-width: 767px) and (max-width: 768px) {
    .join-us-img {
        left: 40px;
    }
    .live-results-table-wrapper {
        padding: 0;
    }
    .open-free-account-btn {
        bottom: -100px;
    }
}

.anticlicker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.up_sound {
    text-align: center;
    display: none;
    width: 166px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 38%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 3px;
    font-size: 17px;
}

#volume_up {
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 37%;
    width: 24%;
    display: none;
    cursor: pointer;
}

@media screen and (max-height: 800px) {
    .popup_custom .title {
        font-size: 45px;
    }
    .popup_custom .subtitle {
        font-size: 26px;
    }
}

.td-text {
    font-weight: 100;
    font-size: 15px;
}

@media screen and (max-width: 420px) {
    .video-header {
        font-size: 2.5rem;
    }
    .logos-wrapper {
        margin-top: 5%;
    }
    .join-us-header {
        text-align: center;
        font-size: 2em;
    }
}

@media screen and (max-width: 360px) {
    .join-us-header {
        font-size: 2em;
        text-align: center;
    }
    .logos-wrapper {
        margin-top: 10%;
    }
    .video-header {
        font-size: 1.5rem;
    }
    .live-results-header {
        font-size: 2em;
    }
    .pre-footer-btn {
        margin: 50px auto;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {
    .step-description {
        padding: 8px 25px;
    }
}

@media screen and (max-width: 768px) {
    .bet {
        display: inline-block;
    }
}

.faq-answer {
    font-size: 14px;
}

.generate-password-button {
    box-shadow: none;
    width: 45%;
    float: right;
    line-height: 1.2;
    padding: 2px 4px;
    background-color: #382b79;
    color: #fff;
    font-size: 12px;
    white-space: normal;
    height: 34px;
}

.flag-container {
    height: 32px;
    width: 110px;
}

.phone {
    padding-left: 114px !important;
}

.selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}

.btc-widget-block {
    z-index: 99999;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width:991px) and (min-width:767px) {
    .open-free-account-btn {
        bottom: -30px;
    }
    .how-it-works-section {
        height: 400px;
    }
    .faq-section {
        margin-top: 50px
    }
}