body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
}

.font-family-merriweather {
	font-family: 'Merriweather', serif !important;
}

.font-family-magra {
	font-family: 'Magra', sans-serif !important;
}

.font-family-source-sans-pro {
	font-family: 'Source Sans Pro', sans-serif !important;
}

.font-family-open-sans {
	font-family: 'Open Sans', sans-serif !important;
}

.text-warning {
	color: #f90 !important;
}

.btn-dark {
	background-color: #161616 !important;
}

.btn-warning {
	background-color: #f90 !important;
}

.bg-warning {
	background-color: #f90 !important;
}

.form-control-lg {
	height: 45px;
	font-size: 16px;
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .54)), url(../img/amazon.jpg);
	background-size: auto, cover;
	background-color: #161616;
	background-repeat: no-repeat;
}

.bg-warning .step {
	width: 48px;
	height: 48px;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
	color: #161616;
	background-color: #fff;
	border-radius: 50%;
	line-height: 50px;
}
input:not([type=checkbox]){
	display: block;
    width: 100%;
	height: 45px;
	padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.vue-tel-input{
	border: none !important;
}
button[type=submit]{
	display: inline-block;
    font-weight: 400;
    color: #fff;
	font-weight: 700;
	text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #161616 !important;
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form .input-wrap{
	margin: 12px 0;
}
.iti {
	width: 100%;
}

#cookie-bar {
	padding: 15px 30px;
	z-index: 99;
}

#cookie-bar .cb-enable,
#cookie-bar .cb-policy {
	background-color: #00a99d !important;
}

.hero__title{
	font-size: 8rem;
}
@media (max-width:991px) {
	.hero{
		padding-top: 40px;
	}
}
@media (max-width:600px) {
	.hero__title {
		font-size: 5rem;
	}
}