.elementor-6136 .elementor-element.elementor-element-ed8f604>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-6136 .elementor-element.elementor-element-ed8f604:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-ed8f604>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../images/bg_pfizer_stock_2-copy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-6136 .elementor-element.elementor-element-ed8f604>.elementor-background-overlay {
    opacity: .47;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-ed8f604 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-44df20f>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-44df20f>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-4fc9f5c .elementor-spacer-inner {
    height: 10px
}

.elementor-6136 .elementor-element.elementor-element-96ae8b3 {
    margin-top: 50px;
    margin-bottom: 0
}

.elementor-6136 .elementor-element.elementor-element-c4a7dc5 {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-b477f61>.elementor-container {
    max-width: 1471px
}

.elementor-6136 .elementor-element.elementor-element-b477f61 {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-6136 .elementor-element.elementor-element-03fdf8e>.elementor-element-populated {
    margin: 32px 0 10px -37px;
    padding: -12px
}

.elementor-6136 .elementor-element.elementor-element-2497d92 {
    text-align: right
}

.elementor-6136 .elementor-element.elementor-element-2497d92 .elementor-image img {
    width: 68%
}

.elementor-6136 .elementor-element.elementor-element-2497d92>.elementor-widget-container {
    margin: 89px -34px -76px -114px
}

.elementor-6136 .elementor-element.elementor-element-7fde30b>.elementor-element-populated {
    margin: 100px 0 0
}

.elementor-6136 .elementor-element.elementor-element-a43107f {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-a43107f .elementor-heading-title {
    color: #000;
    font-size: 49px
}

.elementor-6136 .elementor-element.elementor-element-444cdf3 {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-444cdf3>.elementor-widget-container {
    margin: 0 11px 0 38px
}

.elementor-6136 .elementor-element.elementor-element-94eccee {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-5751ab0 {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-5751ab0 .elementor-heading-title {
    color: #221f1f;
    font-family: poppins, Sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6em
}

.elementor-6136 .elementor-element.elementor-element-5751ab0>.elementor-widget-container {
    margin: 19px 0 0
}

.elementor-6136 .elementor-element.elementor- .elementor-text-editor {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-82834e8 {
    color: #000;
    font-family: open sans, Sans-serif;
    font-size: 12px
}

.elementor-6136 .elementor-element.elementor-element-82834e8>.elementor-widget-container {
    margin: 0
}

.elementor-6136 .elementor-element.elementor-element-bb66325:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-bb66325>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-6136 .elementor-element.elementor-element-bb66325 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 45px 20px
}

.elementor-6136 .elementor-element.elementor-element-bb66325>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-509c8fb {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-509c8fb .elementor-heading-title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em
}

.elementor-6136 .elementor-element.elementor-element-e9bdea3>.elementor-element-populated {
    margin: 9px 0 0
}

.elementor-6136 .elementor-element.elementor-element-966c36d .elementor-spacer-inner {
    height: 87px
}

.elementor-6136 .elementor-element.elementor-element-7600aa00 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-7600aa00 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 39px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-54e88150 .elementor-text-editor {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-54e88150 {
    color: #000000f7;
    font-family: poppins, Sans-serif;
    font-size: 31px;
    font-weight: 300
}

.elementor-6136 .elementor-element.elementor-element-4785d239 {
    padding: 20px 0 0
}

.elementor-6136 .elementor-element.elementor-element-43134bf5 .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-28dda3b0 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-28dda3b0>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-5391c496 .elementor-spacer-inner {
    height: 225px
}

.elementor-6136 .elementor-element.elementor-element-5391c496>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-5391c496 {
    width: .5px;
    max-width: .5px
}

.elementor-6136 .elementor-element.elementor-element-2d3e3c4a .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-3ba0de9f {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-3ba0de9f>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-2ec2782d .elementor-spacer-inner {
    height: 225px
}

.elementor-6136 .elementor-element.elementor-element-2ec2782d>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-2ec2782d {
    width: .5px;
    max-width: .5px
}

.elementor-6136 .elementor-element.elementor-element-33777abc .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-4a8851e8 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-4a8851e8>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-75cd2626 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-75cd2626 .elementor-heading-title {
    color: #d1e0e64d;
    font-family: poppins, Sans-serif;
    font-size: 170px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-4b4678c>.elementor-element-populated {
    margin: 9px 0 0
}

.elementor-6136 .elementor-element.elementor-element-17671912 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-17671912 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 39px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-14db5a70 .elementor-text-editor {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-14db5a70 {
    color: #000000f7;
    font-family: poppins, Sans-serif;
    font-size: 31px;
    font-weight: 300
}

.elementor-6136 .elementor-element.elementor-element-2977236d .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-45a9bd6e {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-45a9bd6e>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-3ff424d4 .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-3ff424d4>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-2214281e .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-19be5651 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-19be5651>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-5132ba6f .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-5132ba6f>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-100539c5 .elementor-heading-title {
    color: #f97500;
    font-family: poppins, Sans-serif;
    font-size: 72px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-129e626a {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-129e626a>.elementor-widget-container {
    margin: -54px 0 0
}

.elementor-6136 .elementor-element.elementor-element-76be99a7 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-76be99a7 .elementor-heading-title {
    color: #d1e0e64d;
    font-family: poppins, Sans-serif;
    font-size: 170px;
    font-weight: 600
}

.elementor-6136 .elementor-element.elementor-element-4310d11 .elementor-spacer-inner {
    height: 92px
}

.elementor-6136 .elementor-element.elementor-element-322cfc8 .elementor-heading-title {
    color: #062a4a;
    font-family: poppins, Sans-serif;
    font-size: 39px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 1.38px
}

.elementor-6136 .elementor-element.elementor-element-2f96566 .elementor-button {
    background-color: #f97500
}

.elementor-6136 .elementor-element.elementor-element-9caf5b6 {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-9caf5b6 .elementor-heading-title {
    color: #030303;
    font-family: poppins, Sans-serif;
    font-size: 23px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-9caf5b6>.elementor-widget-container {
    margin: 0 0 0 29px
}

.elementor-6136 .elementor-element.elementor-element-61b924f8:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-61b924f8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../images/reca_psd.jpg);
    background-position: center center;
    background-size: cover
}

.elementor-6136 .elementor-element.elementor-element-61b924f8 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 27px;
    margin-bottom: 27px;
    padding: 217px
}

.elementor-6136 .elementor-element.elementor-element-61b924f8>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-1617251 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-1617251 .elementor-heading-title {
    color: var( --e-global-color-b114dde);
    font-family: poppins, Sans-serif;
    font-size: 38px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-d1213e7 .elementor-text-editor {
    -moz-columns: 1;
         columns: 1;
    -moz-column-gap: 0;
         column-gap: 0;
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-d1213e7 {
    color: #0e0d0d;
    font-family: open sans, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px
}

.elementor-6136 .elementor-element.elementor-element-5cec51d4 .elementor-button {
    font-family: poppins, Sans-serif;
    background-color: #f97500
}

.elementor-6136 .elementor-element.elementor-element-6d0d483d .elementor-spacer-inner {
    height: 145px
}

.elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-container {
    min-height: 400px
}

.elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-container:after {
    content: "";
    min-height: inherit
}

.elementor-6136 .elementor-element.elementor-element-6c7e3150:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../images/reca_mobile.png);
    background-position: center center;
    background-repeat: no-repeat
}

.elementor-6136 .elementor-element.elementor-element-6c7e3150 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-4063200e>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-4063200e>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-3ae6e7dc .elementor-heading-title {
    color: #062a4a;
    font-family: poppins, Sans-serif;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-58392c1a {
    color: #000;
    font-family: open sans, Sans-serif;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-1f43982b .elementor-button {
    font-family: poppins, Sans-serif;
    background-color: #f97500
}

.elementor-6136 .elementor-element.elementor-element-282cf6ad {
    margin-top: 150px;
    margin-bottom: 150px
}

.elementor-6136 .elementor-element.elementor-element-4ec14705>.elementor-element-populated {
    margin: 9px 0 0
}

.elementor-6136 .elementor-element.elementor-element-69865015 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-69865015 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 39px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-79a02dd2 .elementor-text-editor {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-79a02dd2 {
    color: #000000f7;
    font-family: open sans, Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px
}

.elementor-6136 .elementor-element.elementor-element-27f873dd {
    padding: 30px 0 0
}

.elementor-6136 .elementor-element.elementor-element-39325fbe.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-39325fbe.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-39325fbe.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-2afda9c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-2afda9c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-2afda9c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-2afda9c>.elementor-widget-container {
    padding: 20px 0 0
}

.elementor-6136 .elementor-element.elementor-element-59f68e34 .elementor-spacer-inner {
    height: 225px
}

.elementor-6136 .elementor-element.elementor-element-59f68e34>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-59f68e34 {
    width: .5px;
    max-width: .5px
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-wrapper .elementor-image-box-img {
    width: 24%
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-1f3adfd3 .elementor-spacer-inner {
    height: 225px
}

.elementor-6136 .elementor-element.elementor-element-1f3adfd3>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-1f3adfd3 {
    width: .5px;
    max-width: .5px
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-64b77287.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-64b77287.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-64b77287.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-64b77287>.elementor-widget-container {
    padding: 20px 0 0
}

.elementor-6136 .elementor-element.elementor-element-1cc25b0c .elementor-spacer-inner {
    height: .5px
}

.elementor-6136 .elementor-element.elementor-element-1cc25b0c>.elementor-widget-container {
    margin: -127px 0 0;
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-51716efa .elementor-image img {
    width: 89%
}

.elementor-6136 .elementor-element.elementor-element-51716efa>.elementor-widget-container {
    margin: -83px;
    padding: 81px 0 0
}

.elementor-6136 .elementor-element.elementor-element-49b29eb6 {
    margin-top: 92px;
    margin-bottom: 92px
}

.elementor-6136 .elementor-element.elementor-element-26b09307>.elementor-element-populated {
    margin: 9px 0 0
}

.elementor-6136 .elementor-element.elementor-element-64b9f865 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-64b9f865 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 39px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-56a101ac .elementor-text-editor {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-56a101ac {
    color: #000000f7;
    font-family: open sans, Sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-63903fcd.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-63903fcd.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-63903fcd.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-7a26b8fa .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-7a26b8fa>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-676aa096.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-676aa096.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-676aa096.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-7b0cbbc3 .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-7b0cbbc3>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-6abc5569.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-6abc5569.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-6abc5569.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 24%
}

.elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-493c840b .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-493c840b>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-6185b645 .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-6185b645>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-5dfad8c6 .elementor-spacer-inner {
    height: 50px
}

.elementor-6136 .elementor-element.elementor-element-5dfad8c6>.elementor-widget-container {
    background-color: #979797
}

.elementor-6136 .elementor-element.elementor-element-533ec28e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-6136 .elementor-element.elementor-element-533ec28e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-6136 .elementor-element.elementor-element-533ec28e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-wrapper {
    text-align: left
}

.elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-content .elementor-image-box-title {
    color: #000000cc;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5px
}

.elementor-6136 .elementor-element.elementor-element-5457f716>.elementor-widget-container {
    margin: -83px;
    padding: 81px 0 0
}

.elementor-6136 .elementor-element.elementor-element-20d443c8:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-20d443c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000;
    background-image: url(../images/bk-steve-footer.png);
    background-repeat: no-repeat
}

.elementor-6136 .elementor-element.elementor-element-20d443c8 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-20d443c8>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-36aca535 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-36aca535 .elementor-heading-title {
    color: #fff;
    font-family: open sans, Sans-serif;
    font-weight: 400;
    line-height: 1.5em
}

.elementor-6136 .elementor-element.elementor-element-36aca535>.elementor-widget-container {
    margin: 0 50px 50px
}

.elementor-6136 .elementor-element.elementor-element-4ef53a44>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-4ef53a44>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-63ee2fe5 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-63ee2fe5>.elementor-widget-container {
    margin: 102px 0 0
}

.elementor-6136 .elementor-element.elementor-element-7d4a7709 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-7d4a7709 .elementor-heading-title {
    color: #fff;
    font-family: open sans, Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5em
}

.elementor-6136 .elementor-element.elementor-element-7d4a7709>.elementor-widget-container {
    margin: 0 80px 50px
}

.elementor-6136 .elementor-element.elementor-element-47c2b8a1:not(.elementor-motion-effects-element-type-background),
.elementor-6136 .elementor-element.elementor-element-47c2b8a1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #3c3b3b
}

.elementor-6136 .elementor-element.elementor-element-47c2b8a1 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6136 .elementor-element.elementor-element-47c2b8a1>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6136 .elementor-element.elementor-element-22bf9e25 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: 400
}

.elementor-6136 .elementor-element.elementor-element-5f17dd78 {
    text-align: center
}

.elementor-6136 .elementor-element.elementor-element-5f17dd78 .elementor-heading-title {
    color: #f4f8fb;
    font-size: 11px;
    font-weight: 400
}

@media(max-width:767px) {
    .elementor-6136 .elementor-element.elementor-element-ed8f604:not(.elementor-motion-effects-element-type-background),
    .elementor-6136 .elementor-element.elementor-element-ed8f604>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover
    }
    .elementor-6136 .elementor-element.elementor-element-44df20f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }
    .elementor-6136 .elementor-element.elementor-element-96ae8b3 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px
    }
    .elementor-6136 .elementor-element.elementor-element-2497d92 {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-2497d92>.elementor-widget-container {
        margin: 1px -82px 1px 1px
    }
    .elementor-6136 .elementor-element.elementor-element-7fde30b>.elementor-element-populated {
        margin: 10px 0 20px 10px
    }
    .elementor-6136 .elementor-element.elementor-element-a43107f {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-a43107f .elementor-heading-title {
        font-size: 36px
    }
    .elementor-6136 .elementor-element.elementor-element-444cdf3 {
        text-align: left
    }
    .elementor-6136 .elementor-element.elementor-element-94eccee {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-94eccee>.elementor-widget-container {
        margin: 0 -60px 0 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-5751ab0 {
        text-align: left
    }
    .elementor-6136 .elementor-element.elementor-element-5751ab0>.elementor-widget-container {
        margin: 5px 0 0 40px
    }
    .elementor-6136 .elementor-element.elementor-element-509c8fb .elementor-heading-title {
        font-size: 24px
    }
    .elementor-6136 .elementor-element.elementor-element-17671912 .elementor-heading-title {
        font-size: 36px
    }
    .elementor-6136 .elementor-element.elementor-element-14db5a70 {
        font-size: 22px;
        line-height: 30px
    }
    .elementor-6136 .elementor-element.elementor-element-14db5a70>.elementor-widget-container {
        padding: 0 20px
    }
    .elementor-6136 .elementor-element.elementor-element-237efe0f {
        padding: 0 15px
    }
    .elementor-6136 .elementor-element.elementor-element-3ff424d4 .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-5132ba6f .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-666edb67>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-76be99a7 .elementor-heading-title {
        font-size: 70px
    }
    .elementor-6136 .elementor-element.elementor-element-9caf5b6>.elementor-widget-container {
        margin: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-container {
        min-height: 870px
    }
    .elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-container:after {
        content: "";
        min-height: inherit
    }
    .elementor-6136 .elementor-element.elementor-element-6c7e3150:not(.elementor-motion-effects-element-type-background),
    .elementor-6136 .elementor-element.elementor-element-6c7e3150>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url(../images/reca_mobile.png)
    }
    .elementor-6136 .elementor-element.elementor-element-6c7e3150 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-4063200e>.elementor-element-populated {
        margin: 0;
        padding: 0 30px
    }
    .elementor-6136 .elementor-element.elementor-element-1ceb7cdd {
        margin-top: 12px;
        margin-bottom: 12px
    }
    .elementor-6136 .elementor-element.elementor-element-40d30ccf>.elementor-element-populated {
        margin: 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-3ae6e7dc .elementor-heading-title {
        font-size: 30px
    }
    .elementor-6136 .elementor-element.elementor-element-3ae6e7dc>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-2190a463>.elementor-element-populated {
        margin: 0;
        padding: 10px 0 0
    }
    .elementor-6136 .elementor-element.elementor-element-58392c1a .elementor-text-editor {
        text-align: left
    }
    .elementor-6136 .elementor-element.elementor-element-58392c1a {
        font-size: 16px;
        line-height: 23px
    }
    .elementor-6136 .elementor-element.elementor-element-1f43982b>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-39325fbe .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-2afda9c .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-57c9e0dd .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-20ab1ad .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-4eb74d69 .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-64b77287 .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-49b29eb6 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 15px 60px
    }
    .elementor-6136 .elementor-element.elementor-element-64b9f865 {
        text-align: left
    }
    .elementor-6136 .elementor-element.elementor-element-64b9f865 .elementor-heading-title {
        font-size: 28px
    }
    .elementor-6136 .elementor-element.elementor-element-56a101ac {
        font-size: 16px;
        line-height: 1.4em
    }
    .elementor-6136 .elementor-element.elementor-element-4a6c4b02 {
        padding: 0 30px
    }
    .elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-63903fcd .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-7a26b8fa .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-676aa096 .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-7b0cbbc3 .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-6abc5569 .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-493c840b .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-68a8f1fb .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-6185b645 .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-2d89d5e2 .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-5dfad8c6 .elementor-spacer-inner {
        height: 1px
    }
    .elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%
    }
    .elementor-6136 .elementor-element.elementor-element-533ec28e .elementor-image-box-wrapper {
        text-align: center
    }
    .elementor-6136 .elementor-element.elementor-element-5457f716 .elementor-image img {
        width: 41%
    }
    .elementor-6136 .elementor-element.elementor-element-20d443c8:not(.elementor-motion-effects-element-type-background),
    .elementor-6136 .elementor-element.elementor-element-20d443c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url(../images/bk-steve-footer-mobile.png)
    }
    .elementor-6136 .elementor-element.elementor-element-5f19f7e2 {
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-542eb46d>.elementor-widget-container {
        margin: 30px 20px 20px;
        padding: 0
    }
    .elementor-6136 .elementor-element.elementor-element-36aca535>.elementor-widget-container {
        margin: -20px 0 0;
        padding: 0 30px
    }
    .elementor-6136 .elementor-element.elementor-element-427da45c>.elementor-widget-container {
        margin: -20px 0 0
    }
    .elementor-6136 .elementor-element.elementor-element-7d4a7709>.elementor-widget-container {
        margin: -20px 0 0;
        padding: 0 30px
    }
}

@media(min-width:768px) {
    .elementor-6136 .elementor-element.elementor-element-44df20f {
        width: 80.185%
    }
    .elementor-6136 .elementor-element.elementor-element-03fdf8e {
        width: 45.956%
    }
    .elementor-6136 .elementor-element.elementor-element-7fde30b {
        width: 54%
    }
    .elementor-6136 .elementor-element.elementor-element-11746f8 {
        width: 19.784%;
        min-width: 351px
    }
    .elementor-6136 .elementor-element.elementor-element-1597648a {
        width: 31.286%
    }
    .elementor-6136 .elementor-element.elementor-element-5e65603b {
        width: 3.268%
    }
    .elementor-6136 .elementor-element.elementor-element-38a033e {
        width: 29.771%
    }
    .elementor-6136 .elementor-element.elementor-element-73c6e4ea {
        width: 3.786%
    }
    .elementor-6136 .elementor-element.elementor-element-b943e34 {
        width: 30.983%
    }
    .elementor-6136 .elementor-element.elementor-element-808b966 {
        width: 27.5%
    }
    .elementor-6136 .elementor-element.elementor-element-b66e556 {
        width: 72.5%
    }
    .elementor-6136 .elementor-element.elementor-element-4ec14705 {
        width: 76.754%
    }
    .elementor-6136 .elementor-element.elementor-element-4a857546 {
        width: 34.269%
    }
    .elementor-6136 .elementor-element.elementor-element-3ecfa183 {
        width: 2.105%
    }
    .elementor-6136 .elementor-element.elementor-element-4cf37449 {
        width: 31.579%
    }
    .elementor-6136 .elementor-element.elementor-element-1d36234e {
        width: 3.509%
    }
    .elementor-6136 .elementor-element.elementor-element-7373f749 {
        width: 28.296%
    }
    .elementor-6136 .elementor-element.elementor-element-c123521 {
        width: 23.202%
    }
    .elementor-6136 .elementor-element.elementor-element-26b09307 {
        width: 76.754%
    }
    .elementor-6136 .elementor-element.elementor-element-1a3efb3a {
        width: 23.202%
    }
    .elementor-6136 .elementor-element.elementor-element-7aa5c819 {
        width: 37.632%
    }
    .elementor-6136 .elementor-element.elementor-element-4ef53a44 {
        width: 62.368%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6136 .elementor-element.elementor-element-44df20f {
        width: 75%
    }
    .elementor-6136 .elementor-element.elementor-element-11746f8 {
        width: 100%
    }
}

.custom-inline-block {
    display: inline-block;
    vertical-align: middle
}

.w-15 {
    width: 15% !important
}

.w-85 {
    width: 85% !important
}